<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MBTA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">MBTA</a>
      <a href = "ticket.html">Book tickets</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      </div>
    </nav>
    <div class="container mt-3">
      <h1 class="text-center mb-4">About us</h1>
      <p class="lead">
        This is a webapp built using the MERN stack (MongoDB, Express, React, and Node.js) that provides information and services for the Massachusetts Bay Transportation Authority (MBTA).
      </p>
      <p>
        Our mission today is to make it easy for commuters and visitors to navigate the MBTA system by providing up-to-date information on schedules, delays, and other important news.
      </p>
      <p>
        Want to buy ticket for subway? Click "book tickets" on top left corner. 
      </p>
    </div>
    <footer class="bg-light py-3">
      <div class="container text-center">
        <p>&copy; 2023 MBTA. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>